<%= form_with(model: [:admin, order], class: "form-card") do |form| %>
  <% if order.errors.any? %>
    <div class="form-errors">
      <h2>
        <%= pluralize(order.errors.count, "error") %> prevented this order from being saved:
      </h2>
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :buyer_id, class: "form-label" %>
    <%= form.collection_select :buyer_id,
          @buyers,
          :id,
          :name,
          {},
          class: "form-input" %>
  </div>

  <div class="form-field">
    <%= form.label :destination_address, class: "form-label" %>
    <%= form.text_field :destination_address, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= form.label :billing_address, class: "form-label" %>
    <%= form.text_field :billing_address, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= form.label :payment_status, class: "form-label" %>
    <%= form.select :payment_status, Order::STATUSES, {}, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= form.label :ebook_ids, "Ebooks", class: "form-label" %>

    <%= form.collection_select :ebook_ids,
          @ebooks,
          :id,
          :title,
          { multiple: true, include_hidden: false },
          required: true,
          class: "form-input",
          data: { controller: "tom-select" } %>
  </div>

  <div class="mt-10">
    <%= form.submit "Save order", class: "form-submit" %>
  </div>
<% end %>